body{
    margin: 0px;
    padding: 0px;
}
#mainContainer {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 7vh 86vh 7vh;
    justify-items: center;
    align-content: center;
    #choreListContainer {
        display: grid;
        grid-template-rows: 95% 5%;
        padding: 0%;
        width: 100%;
        height: 100%;
        #choresList {
            list-style: none;
            align-content: center;
            padding: 0%;
            display: grid;
            width: 100%;
            grid-auto-rows: minmax(80px,15%);
            overflow-y: scroll;
            .toDo{
                display: grid;
                background-color: aqua;
                border-radius: 15px;
                margin: 5px;
                grid-template-columns: 2fr 2fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                p{
                    margin: 0px;
                }
                padding: 8px;
                .choreName{
                    grid-column: 1;
                    grid-row: 1;
                }
                .choreTime{
                    grid-column: 1;
                    grid-row: 2;
                }
                .chorePrio{
                    grid-column: 1;
                    grid-row: 3;
                }
                .choreStatus{
                    grid-column: 2;
                    grid-row: 1;
                }
                .choreCreation {
                    grid-column: 2;
                    grid-row: 2;
                }
                .changeChore{
                    grid-column: 3;
                    grid-row: 1;
                }
                .removeChore{
                    grid-column: 3;
                    grid-row: 3;
                }
            }
        }
    }
    #newChore{
        display: grid;
        position: fixed;
        height: 300px;
        width: 500px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

