@font-face {
    font-family: "font";
    src: url(./font.otf);
    font-weight: 1500;
    font-style: bold;
}

$darkColor: #393232;
$orangeColor: #E48257;
$beigeColor: #F2EDD7;
$greenColor: #3A6351;
$redColor: #cd5c5c;

*{
    font-family: "font";
    color: $darkColor;
}
body{
    margin: 0px;
    padding: 0px;
}
#mainContainer {
    background-color: $beigeColor;
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 7vh 86vh 7vh;
    justify-items: center;
    align-content: center;
    #choreListContainer {
        display: grid;
        grid-template-rows: 95% 5%;
        padding: 0%;
        width: 100%;
        height: 100%;
        justify-items: center;
        #newChoreBtn{
            height: 50px;
            width: 50px;
            background-color: #3A6351;
            background-image: url(./x.png);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(45deg);
            border-radius: 100%;
        }
        #choresList {
            list-style: none;
            align-content: center;
            padding: 0%;
            display: grid;
            width: 100%;
            grid-auto-rows: minmax(80px,15%);
            overflow-y: scroll;
            .toDo {
                display: grid;
                font-size: 1.3rem;
                background-color: $orangeColor;
                border: 2px solid #393232;
                border-radius: 15px;
                margin: 5px;
                grid-template-columns: 7fr 7fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                p{
                    margin: 0px;
                }
                padding: 8px;
                .choreName{
                    grid-column: 1;
                    grid-row: 1;
                }
                .choreTime{
                    grid-column: 1;
                    grid-row: 2;
                }
                .chorePrio{
                    grid-column: 1;
                    grid-row: 3;
                }
                .choreStatus{
                    grid-column: 2;
                    grid-row: 1;
                }
                .choreCreation{
                    grid-column: 2;
                    grid-row: 2;
                }
                .changeChore{
                    background-image: url(./check.png);
                    background-size: contain;
                    height: 30px;
                    width: 30px;
                    margin: 0px;
                    padding: 0px;
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 100%;
                    background-color: $greenColor;
                    grid-column: 3;
                    grid-row: 1;
                }
                .removeChore{
                    background-image: url(./x.png);
                    background-size: contain;
                    background-size: 15px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 0px;
                    padding: 0px;
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;
                    background-color: $redColor;
                    grid-column: 3;
                    grid-row: 3;
                }
            }
        }
    }
    #newChore{
        display: grid;
        position: fixed;
        background-color: $orangeColor;
        border: 2px solid #393232;
        border-radius: 15px;
        padding: 2%;
        height: 200px;
        width: 400px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}